<mat-card class="mat-elevation-z3">
  <mat-card-title class="title" *ngIf="editMode">Editar cliente</mat-card-title>
  <mat-card-title class="title" *ngIf="!editMode">Cadastrar novo cliente</mat-card-title>

  <mat-card-content class="card-content">
    <form [formGroup]="form">
      <div class="row form">

        <div class="col-12">
          <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input matInput placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input matInput type="tel" mask="(00) 000000009" placeholder="Telefone" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input matInput type="date" max="2002-12-31" placeholder="Data de nascimento" formControlName="birth">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input matInput placeholder="Endereço Completo" formControlName="address">
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6" *ngIf="uf">
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="state" (valueChange)="stateChange($event, true)">
              <mat-option *ngFor="let state of uf" [value]="state.sigla">{{state.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6" *ngIf="city">
          <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <mat-select formControlName="city" [disabled]="!availableCitys || availableCitys.length < 1">
              <mat-option *ngFor="let state of availableCitys" [value]="state.uf">{{state.municipio}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="fill" *ngIf="vehicleBrands && vehicleBrands.length > 0">
            <mat-label>Marca do carro</mat-label>
            <mat-select formControlName="vehicleBrandCode" [disabled]="!vehicleBrands || vehicleBrands.length < 1"
                        (valueChange)="brandChange($event, true)">
              <mat-option *ngFor="let brand of vehicleBrands" [value]="brand.codigo">{{brand.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-progress-bar mode="indeterminate" *ngIf="!vehicleBrands || vehicleBrands.length < 1"></mat-progress-bar>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field appearance="fill" *ngIf="!loading">
            <mat-label>Modelo</mat-label>
            <mat-select formControlName="vehicleModelCode" [disabled]="!vehicleModels || vehicleModels.length < 1">
              <mat-option *ngFor="let model of vehicleModels" [value]="model.codigo">{{model.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>

      </div>

    </form>
  </mat-card-content>

  <mat-card-footer class="card-footer">
    <div><p *ngIf="form.invalid">*Todos os campos são obrigatórios.</p></div>

    <button class="btn-save btn-transform-efect" mat-raised-button (click)="saveCustomer()" color="accent"
            [class.disable]="form.invalid" [disabled]="form.invalid">
      <span>Salvar</span>
    </button>
  </mat-card-footer>

</mat-card>

