.table-content {
  white-space: nowrap;
  overflow-x: auto;

  .table {
    i {
      border-radius: 4px;
    }

    .edit {
      padding: 0 5px;

      i {
        color: #d9cd26;
      }
    }

    .delete {
      padding: 0 5px;

      i {
        color: #e35e6b;
      }
    }
  }
}

.title-empty-list {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.1;
}
